<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Rushawn S.
          <span class="text-primary">Childers</span>
        </h1>
        <div class="subheading mb-5">Philadilphia · PA · (###) ###-#### ·
          <a href="mailto:name@email.com">rchilders@arcadia.edu</a>
        </div>
        <p class="lead mb-5">I am experienced in codeing in java and python. Intermediate understanding of both, and moderate to intermediat skill in coding.</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>