<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Arcadia University</h3>
            <div class="subheading mb-3">Bachelor of Computer Science</div>
            <div>Computer Science - pre mechanical engineering Track</div>
            <p>GPA: 3.49</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2017 - May 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Bodine High School for International Affairs</h3>
            <p>GPA: 3.42</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2013 - May 2017</span>
          </div>
        </div>

      </div>
    </section>